
<div class="hero fw-container">
	<div class="hero__inner constrain">
		<div class="hero__content">
			<h1 class="hero__title">Become a hero</h1>
			<p><span class="emphasis">A hero starts here&hellip;</span> Become A Hero is all about becoming a hero in your local community. Sign up now to take on villains in your area like rogue litter, unruly gardens, and difficult tasks your senior neighbours may be struggling with. Or, join us to report issues in your neighbourhood.</p>
		</div>
	</div>
</div>
<div class="main-area fw-container">
	<div class="main-area__inner constrain">
		<div class="row">
			<div class="col-xxs-12 col-s-6">
				<div class="hero-intro">
					<h3>Heroes</h3>
					<p>Our community are legendary charitable warriors, waging war against all that annoying stuff in our neighbourhoods. They can help an elderly relative with their shopping, fix your computer, or help tidy your area for free! Now that's a hero. Up for joining the ranks?</p>
					<a ui-sref="app.register({type: 'hero'})" class="btn--primary"><span>Become a hero</span></a>
				</div>
			</div>
			<div class="col-xxs-12 col-s-6">
				<div class="villain-intro">
					<h3>Villains</h3>
					<p>Villains are pesky problems that need to be beaten to a pulp by our league of awesome community heroes! Maybe there's litter on a street near you, or an unruly garden that needs to be tamed? Our villains come in all shapes and sizes. Why not submit one today?</p>
					<a ng-if="user.current() && user.current().isReporter" ui-sref="app.auth.reporterDashboard.reportVillain" class="btn--tertiary"><span>Report a villain</span></a>
					<a ng-if="!user.current()" ui-sref="app.register({type: 'reporter'})" class="btn--tertiary"><span>Report a villain</span></a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xxs-12 col-s-6">
				<div class="hero-leaderboard">
					<ul class="hero-leaderboard__list">
						<li class="hero-leaderboard__list-item" ng-repeat="hero in heroes">
							<span class="hero-leaderboard__ranking" ng-bind="$index + 1"></span>
							<span class="hero-leaderboard__profile-picture">
								<img src="http://placehold.it/100x100" />
								<span class="hero-leaderboard__level" ng-bind="hero.level"></span>
							</span>
							<span class="hero-leaderboard__details">
								<span class="hero-leaderboard__name" ng-bind="hero.name">Mighty Max</span>
								<span class="hero-leaderboard__meta">
									<span ng-if="hero.lastConqueredVillain()">
										Last villain conquered: <span ng-bind="hero.lastConqueredVillain().name"></span>
									</span>
									<span ng-if="!hero.lastConqueredVillain()">
										No villains conquered yet.
									</span>
								</span>
							</span>
						</li>
					</ul>
						
				</div>
			</div>
			<div class="col-xxs-12 col-s-6">
				<div class="available-villains">
					
					<ul class="available-villains__list">
						<li class="available-villains__list-item" ng-repeat="villain in villains" ui-sref="app.villainDetail({id: villain.id})">
							<span class="available-villains__icon"><img ng-src="/assets/png/{{villain.villainCategoryId}}.png" /></span>
							<span class="available-villains__details">
								<span class="available-villains__name" ng-bind="villain.title"></span>
								<span class="available-villains__meta">Reported by: <span class="villain.owner.name"></span></span>
							</span>
						</li>
					</ul>
					
				</div>
			</div>
		</div>
		
		
	</div>
</div>