//@import "../variables";
//@import "../util";
//@import "../mq";

//// Main Area
.main-area{
	border-left:$border-width solid $dark;
	border-right:$border-width solid $dark;
}
.main-area__inner{
	padding:18px 0 12px;
}