//@import "../variables";
//@import "../util";
//@import "../mq";

.primary-header{
	background:$white;
	border:2px solid $dark;

	&--hero{
		background:$hero;
	}
	&--reporter{
		background:$villain;
	}
}
.primary-header__inner{
	@include clear;
	padding:12px 0;
}
.primary-header__logo{
	display:block;
	float:left;
}
.primary-header__login-info, .primary-header__signup{
	width:50%;
	float:right;
	text-align:right;
}