//@import "../variables";
//@import "../util";
//@import "../mq";

.primary-header{
	background:$white;
	border:2px solid $dark;

	&--hero{
		background:$hero;
		color:$white;
		background:url(/assets/png/hero-bg.png) 0 0 repeat-x $hero;
		background-size:cover;
		.inline{
			color:$white;

			&:hover{
				color:$offwhite;
			}
		}
	}
	&--reporter{
		background:$villain;
		color:$white;
		background:url(/assets/png/hero-bg.png) 0 0 repeat-x $villain;
		background-size:cover;
		.inline{
			color:$white;

			&:hover{
				color:$offwhite;
			}
		}
	}

	p{
		margin:0 12px 0 0;
		display:inline-block;
	}
}
.primary-header__inner{
	@include clear;
	padding:12px 0;
}
.primary-header__logo{
	display:block;
	float:left;
}
.primary-header__login-info, .primary-header__signup{
	width:50%;
	float:right;
	text-align:right;
}
.primary-header__back-link{
    padding: 6px 0;
    display: inline-block;
}