<div class="hero-stats fw-container">
	<div class="hero-stats__inner constrain">
		<div class="profile-box__progress-radial">
			<div class="progress-radial progress--50">
				<!-- --20 all the way through to --100 -->
				<div class="progress-radial__overlay">
					<img class="progress-radial__overlay-img" src="/assets/png/hero-avatar-2x.png" />
				</div>
			</div>
			<span class="hero-stats__level" ng-bind="user.level"></span>
		</div>
		<span class="hero-stats__profile-text">
			<h1 ng-bind="user.name"></h1>
			<p>Member since: <span ng-bind="user.createdAt | date"></span></p>
			<p>Total XP: <span ng-bind="user.xp"></span></p>
			<div ng-if="!editMode">
				<p ng-if="user.superpower">Superpower: <span ng-bind="user.superpower"></span></p>
				<p ng-if="user.nemesis">Nemesis: <span ng-bind="user.nemesis"></span></p>
				<p ng-if="user.bio"><span ng-bind="user.bio"></span></p>
			</div>
			<div ng-if="editMode">
				<div class="field-container">
					<label for="superpower">What's your superpower?</label>
					<input id="superpower" type="text" ng-model="user.superpower" />
				</div>
				<div class="field-container">
					<label for="nemesis">What kind of villains are you hunting?</label>
					<input id="nemesis" type="text" ng-model="user.nemesis" />
				</div>
				<div class="field-container">
					<label for="bio">Tell us about you</label>
					<input id="bio" type="text" ng-model="user.bio" />
				</div>
			</div>
			<a ng-click="toggleEdit()">{{editMode ? "Save":"Edit"}}</a>
		</span>

	</div>
</div>

<div class="main-area fw-container">
	<div class="main-area__inner constrain">	
		<div class="current-missions" ng-if="currentMissions.length">
			<h2>Current Missions</h2>
			<ul class="current-missions__list">
				<li class="current-missions__list-item" ng-repeat="mission in currentMissions" ui-sref="app.villainDetail({id: mission.villain.id})">
					<span class="current-missions__icon"><img ng-src="/assets/png/{{mission.villain.villainCategoryId}}.png" /></span>
					<span class="current-missions__details">
						<span class="current-missions__name">
							<span ng-bind="mission.introText"></span>
							<span ng-bind="mission.villain.title"></span>
						</span>
						<span class="current-missions__meta">Reported by: <span class="mission.villain.owner.name"></span></span>
					</span>
				</li>
			</ul>
		</div>
		<div class="available-villains" ng-if="availableVillains.length">
			<h2>Available Missions</h2>
			<input class="available-villains__search" ng-model="searchText" placeholder="Search for villains..." />
			<ul class="available-villains__list">
				<li class="available-villains__list-item" ng-repeat="villain in availableVillains | filter:searchText" ui-sref="app.villainDetail({id: villain.id})">
					<span class="available-villains__icon"><img src="http://placehold.it/200x200" /></span>
					<span class="available-villains__details">
						<span class="available-villains__name" ng-bind="villain.title">Litter (Southampton Common)</span>
						<span class="available-villains__meta">Reported by: <span class="villain.owner.name">G Smith</span>
						<span class="available-villains__meta" ng-bind="villain.shortDescription"></span>
					</span>
				</li>
			</ul>
		</div>
	</div>
</div>