<form ng-submit="login(email, password)">

<div class="title-clear">
	<h1>Login</h1>
</div>
	
	<div layout="column">
	<input class="login-input" type="email" name="email" ng-model="email" required placeholder="Email">
	<input class="login-input" type="password" name="password" ng-model="password" required placeholder="Password">
	<p class="error" ng-if="error" ng-bind="error"></p>

	<button type="submit">Login</button>
	<p>Not registered? <a ui-sref="app.register">Create an account</a></p>
</div>

	

</form>
