
<h1 class="hero__title">{{villain.title}}</h1>
<span>{{villain.villainCategory.name}}</span>
<span>{{villain.bounty}}</span>

<h2>The mission brief</h2>
<p>{{villain.shortDescription}}</p>

<ul>
    <li>Location: {{villain.location}}</li>
    <li>Reported by: {{villain.owner.name}}</li>
</ul>

<button ng-if="user && user.isHero" ng-click="acceptMission()">Accept Mission</button>
<button ng-if="user && user.id === villain.ownerId && user.isReporter" ng-click="completeMission()">Mark as done</button>