<div class="main-area fw-container">
	<div class="main-area__inner constrain">
		<h1>{{villain.title}}</h1>
		<div class="hero-stats">
			<div class="row">
				<div class="col-xxs-12 col-s-9">
					<h3>Mission Bounty: {{villain.missions.length ? villain.missions[0].bounty : villain.bounty}}</h3>
					<p>{{villain.shortDescription}}</p>

					<ul>
					    <li>Location: {{villain.location}}</li>
					    <li>Reported by: {{villain.owner.name}}</li>
					</ul>

					<button ng-if="user && user.isHero && villain.status==='open'" ng-click="acceptMission()">Accept Mission</button>
					<button ng-if="user && user.id === villain.ownerId && villain.status==='claimed' && user.isReporter" ng-click="completeMission()">Mark as done</button>
					<p ng-if="villain.status==='claimed'">Mission claimed by {{villain.missions[0].user.name}}</p>
					<p ng-if="villain.status==='closed'">Mission complete</p>
				</div>
				<div class="col-xxs-12 col-s-3 text-push">
					<img ng-src="/assets/png/{{villain.villainCategoryId}}.png" alt="{{villain.villainCategory.name}}" />
				</div>
			</div>
		</div>
	</div>
</div>
