<div class="hero-stats fw-container">
	<div class="hero-stats__inner constrain">
		<div class="profile-box__progress-radial">
			<div class="progress-radial progress--50">
				<!-- --20 all the way through to --100 -->
				<div class="progress-radial__overlay">
					<img class="progress-radial__overlay-img" src="http://placehold.it/200x200" />
				</div>
			</div>
			<span class="hero-stats__level" ng-bind="hero.level"></span>
		</div>
		<span class="hero-stats__profile-text">
			<h1 ng-bind="hero.name"></h1>
			<p>Member since: <span ng-bind="hero.createdAt | date"></span></p>
			<p>Total XP: <span ng-bind="hero.xp"></span></p>
			<p ng-if="hero.superpower">Superpower: <span ng-bind="hero.superpower"></span></p>
			<p ng-if="hero.nemesis">Nemesis: <span ng-bind="hero.nemesis"></span></p>
			<p ng-if="hero.bio"><span ng-bind="hero.bio"></span></p>
		</span>

	</div>
</div>

<div class="main-area fw-container">
	<div class="main-area__inner constrain">	
		<div class="current-missions" ng-if="hero.missions.length">
			<h2>Current Missions</h2>
			<ul class="current-missions__list">
				<li class="current-missions__list-item" ng-repeat="mission in hero.missions" ui-sref="app.villainDetail({id: mission.villain.id})">
					<span class="current-missions__icon"><img ng-src="/assets/png/{{mission.villain.villainCategoryId}}.png" /></span>
					<span class="current-missions__details">
						<span class="current-missions__name">
							<span ng-bind="missionText"></span>
							<span ng-bind="mission.villain.title"></span>
						</span>
						<span class="current-missions__meta">Reported by: <span class="mission.villain.owner.name">G Smith</span></span>
					</span>
				</li>
			</ul>
		</div>
	</div>
</div>