@import "variables";
//@import "util";

// default styles applied to tags before any classes are applied
// editable on a per-project basis

html, body {
    @extend %base;
}
h1,h2, .h1, .h2{ 
  font-family: $heading-font; 
  line-height:1.2em; 
  
  &:first-child{
    margin-top:0;
  }
}
h3,h4,h5, .h3, .h4, .h5{
  line-height:1.2em; 
  
  &:first-child{
    margin-top:0;
  }
}
h1, .h1{
  font-size:31px;

  @include mq($from: M){
    font-size:62px;
  }
}
h2, .h2{
  font-size:22px;

  @include mq($from: M){
    font-size:44px;
  }
}
h3, .h3{
  font-size:17px;

  @include mq($from: M){
    font-size:34px;
  }
}
h4, .h4{
  font-size:20px;
  font-weight:normal;

  @include mq($from: M){
    font-size:24px;
  }
}
h5, .h5{
  font-size:18px;

  @include mq($from: M){
    font-size:20px;
  }
}
p{
  margin-top:0;
}
a{ 
  color:$default-link-color; 
  text-decoration:underline;
  font-weight:bold;

  &:hover{
    color:$hover-link-color; 
    text-decoration:none;
  }
}
ul{ 
  padding:0px; 
  margin:0px; 
  list-style-type:none; 
}
img{ margin-bottom:1em; }

//Helper classes - Looking for text alignment, visibility, or display type? Use the current boilerplate framework classes for that! These are additions.
.no-scroll{
  overflow:hidden;
}
.clear{
  clear:both;
}
.clearfix{
  @include clear();
}
.unbutton{ 
  background:transparent; 
  padding:0; 
  margin:0; 
  border:0; 
  
  &:hover{
    background:transparent;
  }
}

//"Full width" Elements
.fw-container{
  width:100%;
  max-width:2560px;
  margin:auto;
}
//To constrain content inside a fw-container. This class should not be ON your fw-container, but an element within.
.constrain{
  width:$content-width;
  max-width:$max-content-width;
  margin:auto;
}

::selection {
  color:$white;
  background:$dark;
}
::-moz-selection {
    color:$white;
    background:$dark;
}

.emphasis{
  font-weight:bold;
  font-style:italic;
}