//@import "retina-sprites";

// Set variables and spriting specific to this project.
// Variables
$vertical-space: 20px;
$horizontal-space: 24px; //Also used for gutters if grid enabled
$content-width: 96%; //Page width
$max-content-width: 1024px; //Maximum width before it just ends up centered (Containers will extend by default)
$border-radius: 0px;
$transition-speed: 0.25s;
$transition-timing:ease-in-out;

$border-width:2px;

// Uncomment this if your site isn't responsive. Enjoy your trip to the past!
//$mq-responsive: false;

// Responsive breakpoints, use semantic names
$mq-breakpoints: (
    XS:  320px,
	S: 480px,
	M: 720px,
	L: 980px,
	XL: 1024px,
	XXL: 1280px
);

// Define the breakpoint from the $mq-breakpoints list that IE8 should get
$mq-static-breakpoint: XL;

// If you want to display the currently active breakpoint in the top
// right corner of your site during development, add the breakpoints
// to this list, ordered by width, e.g. (mobile, tablet, desktop).
$mq-show-breakpoints: () !default;


// Common Colours 
$white:#ffffff;
$black:#000000;
$offwhite:#F2F5F8;

$dark:#1A2445;

$hero: #275CFC;
$hero-alt:#FF4819;

$villain:#5E0789;
$villain-alt:#1ACC84;

$color-offset:10%;


// e.g Link colour, bg, text colour, hover colour, active colour
$body-background-color:$offwhite;
$default-text-color: $dark;
$secondary-text-color: lighten($offwhite, $color-offset);
$primary-highlight-color: $hero;
$secondary-highlight-color: $villain;
$default-link-color: $hero;
$hover-link-color: lighten($hero, $color-offset);

@font-face {
  font-family: 'Adventure';
  src: url('/fonts/adventure.eot'); /* IE9 Compat Modes */
  src: url('/fonts/adventure.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/adventure.woff') format('woff'), /* Modern Browsers */
       url('/fonts/adventure.woff2') format('woff2'), /* Even Moderner Browsers */
       url('/fonts/adventure.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-weight: 400;
}

// Fonts
// Common font stacks should be defined in util.scss, specific ones can be named or referenced here
$base-font: 'PT Sans', sans-serif;
$heading-font: 'Adventure', 'PT Sans', sans-serif;
$base-font-size:16px;
$base-font-lh:1.6em;

%base{
    font-size: $base-font-size;
    line-height: $base-font-lh;
    font-family: $base-font;
    -webkit-font-smoothing: antialiased;
    background-color: $body-background-color;
    color: $default-text-color;
    overflow-x: hidden;
}