<div class="main-area fw-container">
	<div class="main-area__inner constrain">
		<div class="current-missions" ng-if="villains.length">
			<h2>Your Reported Villains</h2>
			<ul class="current-missions__list">
				<li class="current-missions__list-item" ng-repeat="villain in villains" ui-sref="app.villainDetail({id: villain.id})">
					<span class="current-missions__icon"><img src="http://placehold.it/200x200" /></span>
					<span class="current-missions__details">
						<span class="current-missions__name">
							<span ng-bind="villain.title"></span>
							(<span ng-bind="villain.location"></span>)
						</span>
						<span class="current-missions__meta"><span class="villain.shortDescription"></span></span>
					</span>
				</li>
			</ul>
		</div>
		<a ui-sref="app.auth.reportVillain" class="btn--tertiary"><span>Report a villain</span></a>
	</div>
</div>