<form ng-submit="register(email, password, name)">
	<h1>Register</h1>

	<label for="name">Name</label>
	<input type="text" id="name" name="name" ng-model="name" required>

	<label for="email">Email</label>
	<input type="email" id="email" name="email" ng-model="email" required>

	<label for="password">Password</label>
	<input type="password" id="password" name="password" ng-model="password" required>

	<p class="error" ng-if="error" ng-bind="error"></p>

	<button type="submit">Register</button>

	<p><a ui-sref="app.homepage">Back to home</a></p>

</form>